.swiper-container: .swiper-wrapper

	.swiper-slide

		.magazine-cover.magazine-container
			header
			main.show-for-landscape-small-only(style="background-image:url(//placekitten.com/g/320/140)")
			main.show-for-landscape-medium-only(style="background-image:url(//placekitten.com/g/640/480)")
			main.show-for-landscape-large-up(style="background-image:url(//placekitten.com/g/1280/960)")
			main.show-for-portrait-small-only(style="background-image:url(//placekitten.com/g/240/320)")
			main.show-for-portrait-medium-only(style="background-image:url(//placekitten.com/g/480/640)")
			main.show-for-portrait-large-up(style="background-image:url(//placekitten.com/g/960/1280)")
			footer
				h3.subheader Año 6
				h3 NÚMERO 21
				h3.subheader OCTUBRE-NOVIEMBRE 2014

	.swiper-slide(style="overflow:scroll !important")

		.magazine-article-cover.magazine-container
			main.show-for-landscape-small-only(style="background-image:url(//lorempixel.com/400/140/animals)")
			main.show-for-landscape-medium-only(style="background-image:url(//lorempixel.com/640/480/animals)")
			main.show-for-landscape-large-up(style="background-image:url(//lorempixel.com/1280/960/animals)")
			main.show-for-portrait-small-only(style="background-image:url(//lorempixel.com/240/320/animals)")
			main.show-for-portrait-medium-only(style="background-image:url(//lorempixel.com/480/640/animals)")
			main.show-for-portrait-large-up(style="background-image:url(//lorempixel.com/960/1280/animals)")
			- var rand = Math.floor(Math.random()*6)
			footer.font-header(class='font-header-'+rand)
				h2 Nombre del artículo
				.row: h4.subheader.right MVZ Nombre del Autor

		.magazine-article-cover.magazine-container
			.row.hide-for-portrait
				.small-12.columns
					h2.left Revisión Médica <br> <tr>
					h2.left Fauna Silvestre <tr> 
				.small-6.columns
					strong Director
						br
						p MVZ Cert. Luis Fernando Martínez Cornejo
						strong Coordinación editorial
						br
						p Dra. Dulce Ma. Brousset H-J
						trong Diseño de la versión interactiva
						br
						p MVZ EMCV (FS) Itzcóatl Maldonado Reséndiz
						strong Relaciones públicas y ventas
						br
						p MVZ Cert. Luis Fernando Martínez Cornejo
						strong contacto
						br

						a(href='mailto:contacto@remevet.com') contacto@remevet.com


				.small-6.columns
					

						center
							img(src='static/video/drw.png', alt='')




			.row.hide-for-landscape

				.small-12.columns

					h2.left Desastres, fauna silvestre y veterinarios ¿cómo estar preparados? <hr>

				.small-12.columns
					p
						| El Médico Veterinario Mark Lloyd se graduó de la Universidad de Georgia en 1989 
						| con honores en el área de medicina y cirugía de grandes especies. Sin embargo, 
						| desde entonces su experiencia con animales grandes se ha enfocado principalmente 
						| a trabajar con tigres siberianos, elefantes africanos y cocodrilos cubanos. 
						| Después de graduarse el Dr. Lloyd trabajó en 3 zoológicos acreditados 
						| por la AZA: el Zoológico de Toledo en Ohio, donde realizó su internado; en el 
						| Roger William Park Zoo en Rhode Island y en Zoológico de El Paso, Texas. 
						| Posteriormente fue director del Alaska Sea Life Center, el cual es la única 
						| institución que trabaja todo el año para la rehabilitación de las especies marinas. 
						| Más recientemente trabajó como Director Médico del Departamento de Vida Silvestre 
						| de la Humane Society en los Estados Unidos.


					p
						| “El Dr. Lloyd fue presidente de la Asociación Americana de Veterinarios de 
						| Anfibios y Reptiles (ARAV) y ha sido un autor prolífico de diferentes artículos 
						| y capítulos de libros relacionados con medicina de fauna silvestre.
						| “La experiencia y entrenamiento profesional del Dr. Lloyd incluye Animales en 
						| Situaciones de Emergencia y Desastre, habiendo sido Comandante del Equipo de Asistencia 
						| Veterinaria (VMAT-1) dentro del Departamento de Seguridad Nacional para el World Trade Center, 
						| Huracán Katrina en Nueva Orleans, Incendios en California, Brotes de Influenza Aviar y muchas 
						| situaciones más. Esta certificado para dar entrenamiento para Rescate Animal en Aguas Rápidas, 
						| Rescate de Grandes Especies, Rescate de Animales con Helicóptero, Atención Médica a Perros de Rescate, entre otros”

		.magazine-article-cover.magazine-container
			.row.hide-for-portrait
				.small-12.columns
					h2.left Desastres, fauna silvestre y veterinarios ¿cómo estar preparados? <hr>
				.small-6.columns

					p
						| El Médico Veterinario Mark Lloyd se graduó de la Universidad de Georgia en 1989 
						| con honores en el área de medicina y cirugía de grandes especies. Sin embargo, 
						| desde entonces su experiencia con animales grandes se ha enfocado principalmente 
						| a trabajar con tigres siberianos, elefantes africanos y cocodrilos cubanos. 
						| Después de graduarse el Dr. Lloyd trabajó en 3 zoológicos acreditados 
						| por la AZA: el Zoológico de Toledo en Ohio, donde realizó su internado; en el 
						| Roger William Park Zoo en Rhode Island y en Zoológico de El Paso, Texas. 
						| Posteriormente fue director del Alaska Sea Life Center, el cual es la única 
						| institución que trabaja todo el año para la rehabilitación de las especies marinas. 
						| Más recientemente trabajó como Director Médico del Departamento de Vida Silvestre 
						| de la Humane Society en los Estados Unidos.


					p
						| “El Dr. Lloyd fue presidente de la Asociación Americana de Veterinarios de 
						| Anfibios y Reptiles (ARAV) y ha sido un autor prolífico de diferentes artículos 
						| y capítulos de libros relacionados con medicina de fauna silvestre.
						| “La experiencia y entrenamiento profesional del Dr. Lloyd incluye Animales en 
						| Situaciones de Emergencia y Desastre, habiendo sido Comandante del Equipo de Asistencia 
						| Veterinaria (VMAT-1) dentro del Departamento de Seguridad Nacional para el World Trade Center, 
						| Huracán Katrina en Nueva Orleans, Incendios en California, Brotes de Influenza Aviar y muchas 
						| situaciones más. Esta certificado para dar entrenamiento para Rescate Animal en Aguas Rápidas, 
						| Rescate de Grandes Especies, Rescate de Animales con Helicóptero, Atención Médica a Perros de Rescate, entre otros”
					

				.small-6.columns
					<div style="text-align: center"><video src="static/video/Fauna.mp4" poster="video" controls="controls" width="500" height="300" preload="none"></video></div>

					p
						| Pellentesque habitant morbi tristique senectus et netus et malesuada
						| fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
						| eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
						| Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit
						| amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
						| sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
						| condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
						| Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
						| neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
						| eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan
						| porttitor, facilisis luctus, metus.
					

			.row.hide-for-landscape

				.small-12.columns

					h2.left Desastres, fauna silvestre y veterinarios ¿cómo estar preparados? <hr>

				.small-12.columns
					p
						| El Médico Veterinario Mark Lloyd se graduó de la Universidad de Georgia en 1989 
						| con honores en el área de medicina y cirugía de grandes especies. Sin embargo, 
						| desde entonces su experiencia con animales grandes se ha enfocado principalmente 
						| a trabajar con tigres siberianos, elefantes africanos y cocodrilos cubanos. 
						| Después de graduarse el Dr. Lloyd trabajó en 3 zoológicos acreditados 
						| por la AZA: el Zoológico de Toledo en Ohio, donde realizó su internado; en el 
						| Roger William Park Zoo en Rhode Island y en Zoológico de El Paso, Texas. 
						| Posteriormente fue director del Alaska Sea Life Center, el cual es la única 
						| institución que trabaja todo el año para la rehabilitación de las especies marinas. 
						| Más recientemente trabajó como Director Médico del Departamento de Vida Silvestre 
						| de la Humane Society en los Estados Unidos.


					p
						| “El Dr. Lloyd fue presidente de la Asociación Americana de Veterinarios de 
						| Anfibios y Reptiles (ARAV) y ha sido un autor prolífico de diferentes artículos 
						| y capítulos de libros relacionados con medicina de fauna silvestre.
						| “La experiencia y entrenamiento profesional del Dr. Lloyd incluye Animales en 
						| Situaciones de Emergencia y Desastre, habiendo sido Comandante del Equipo de Asistencia 
						| Veterinaria (VMAT-1) dentro del Departamento de Seguridad Nacional para el World Trade Center, 
						| Huracán Katrina en Nueva Orleans, Incendios en California, Brotes de Influenza Aviar y muchas 
						| situaciones más. Esta certificado para dar entrenamiento para Rescate Animal en Aguas Rápidas, 
						| Rescate de Grandes Especies, Rescate de Animales con Helicóptero, Atención Médica a Perros de Rescate, entre otros”

					

					<div class="video1" style="text-align: center"><video src="static/video/Fauna.mp4" poster="video" controls="controls" width="300" height="200" preload="none"></video></div>

					

