.swiper-container: .swiper-wrapper

	.swiper-slide

		.magazine-cover.magazine-container
			header
			main.show-for-landscape-small-only(style="background-image:url(//placekitten.com/g/320/140)")
			main.show-for-landscape-medium-only(style="background-image:url(//placekitten.com/g/640/480)")
			main.show-for-landscape-large-up(style="background-image:url(//placekitten.com/g/1280/960)")
			main.show-for-portrait-small-only(style="background-image:url(//placekitten.com/g/240/320)")
			main.show-for-portrait-medium-only(style="background-image:url(//placekitten.com/g/480/640)")
			main.show-for-portrait-large-up(style="background-image:url(//placekitten.com/g/960/1280)")
			footer
				h3.subheader Año 6
				h3 NÚMERO 21
				h3.subheader OCTUBRE-NOVIEMBRE 2014

	.swiper-slide(style="overflow:scroll !important")

		.magazine-article-cover.magazine-container
			main.show-for-landscape-small-only(style="background-image:url(//lorempixel.com/400/140/animals)")
			main.show-for-landscape-medium-only(style="background-image:url(//lorempixel.com/640/480/animals)")
			main.show-for-landscape-large-up(style="background-image:url(//lorempixel.com/1280/960/animals)")
			main.show-for-portrait-small-only(style="background-image:url(//lorempixel.com/240/320/animals)")
			main.show-for-portrait-medium-only(style="background-image:url(//lorempixel.com/480/640/animals)")
			main.show-for-portrait-large-up(style="background-image:url(//lorempixel.com/960/1280/animals)")
			- var rand = Math.floor(Math.random()*6)
			footer.font-header(class='font-header-'+rand)
				h2 Desastres, fauna silvestre y veterinarios ¿cómo estar preparados?
				.row: h4.subheader.right MV Mark Lloyd 

		//- pagina1

		.magazine-article-cover.magazine-container
			.row.hide-for-portrait
				.small-12.columns
					h2.left Revisión Médica <br> <hr>
					h2.left Fauna Silvestre <hr> 
				.small-6.columns

					center
						img.logo(src="static/video/remevet.png", alt="Dr.", width="100%")
					

				.small-6.columns
					strong Director
						br
						p MVZ Cert. Luis Fernando Martínez Cornejo
						strong Coordinación editorial
						br
						p Dra. Dulce Ma. Brousset H-J
						trong Diseño de la versión interactiva
						br
						p MVZ EMCV (FS) Itzcóatl Maldonado Reséndiz
						strong Relaciones públicas y ventas
						br
						p MVZ Cert. Luis Fernando Martínez Cornejo
						strong contacto
						br



						a(href='mailto:contacto@remevet.com') contacto@remevet.com
						br
						br 
						br

					p.izq
						| REVISIÓN MÉDICA FAUNA SILVESTRE, año 2, No.7 Abril-Junio 2014; es una
						| publicación trimestral editada por REMEVET S. de R.L. de C.V., América 103,
						| Colonia Parque San Andrés, Delegación Coyoacán, Distrito Federal, México, C.P.
						| 04040, Tels. 56899624 y 56892601.
					p.izq 
						
						| Queda estrictamente prohibida la reproducción total o parcial de los contenidos e 
						| imágenes de la publicación si previa autorización de REMEVET S. de R.L. de C.V.

					
					
			.row.hide-for-landscape

				.small-12.columns

					h2.left Desastres, fauna silvestre y veterinarios ¿cómo estar preparados? <hr>

					center
						img.logo(src="static/video/remevet.png", alt="Dr.", width="100%")


				.small-12.columns
					
					strong Director
						br
						p MVZ Cert. Luis Fernando Martínez Cornejo
						strong Coordinación editorial
						br
						p Dra. Dulce Ma. Brousset H-J
						trong Diseño de la versión interactiva
						br
						p MVZ EMCV (FS) Itzcóatl Maldonado Reséndiz
						strong Relaciones públicas y ventas
						br
						p MVZ Cert. Luis Fernando Martínez Cornejo
						strong contacto
						br



						a(href='mailto:contacto@remevet.com') contacto@remevet.com
						br
						br 
						br

					p.izq
						| REVISIÓN MÉDICA FAUNA SILVESTRE, año 2, No.7 Abril-Junio 2014; es una
						| publicación trimestral editada por REMEVET S. de R.L. de C.V., América 103,
						| Colonia Parque San Andrés, Delegación Coyoacán, Distrito Federal, México, C.P.
						| 04040, Tels. 56899624 y 56892601.
					p.izq 
						
						| Queda estrictamente prohibida la reproducción total o parcial de los contenidos e 
						| imágenes de la publicación si previa autorización de REMEVET S. de R.L. de C.V.
				

		
			.row.hide-for-portrait
				.small-12.columns
					h2.left Desastres, fauna silvestre y veterinarios ¿cómo estar preparados? <hr>
				.small-6.columns
					center
						img(src="static/video/drw.png", alt="Dr.", width="80%")
					
					br

					p
						| Management, Learning and Logistics; 
						br
						| Diversified Veterinary Medicine, LLC
						br
						| 
						| Private Consultant Services
						br
						| Institutional Disaster Preparation and Response
						br
						| Wildlife Conservation,
						br
						| Management and Medicine
						br
						| Georgia, USA


				.small-6.columns


					
					p 	
						| El Dr. Lloyd fue presidente de la Asociación Americana de Veterinarios de Anfibios y Reptiles 
						| (ARAV) y ha sido un autor prolífico de diferentes artículos y capítulos de libros relacionados 
						| con medicina de fauna silvestre.

					p
						| La experiencia y entrenamiento profesional del Dr. Lloyd incluye Animales en Situaciones de Emergencia y Desastre, 
						| habiendo sido Comandante del Equipo de Asistencia Veterinaria (VMAT-1) dentro del Departamento de Seguridad Nacional 
						| para el World Trade Center, Huracán Katrina en Nueva Orleans, Incendios en California, Brotes de Influenza Aviar y 
						| muchas situaciones más. Esta certificado para dar entrenamiento para Rescate Animal en Aguas Rápidas, 
						| Rescate de Grandes Especies, Rescate de Animales con Helicóptero, Atención Médica a Perros de Rescate, entre otros”

					p
						| Actualmente pone toda su experiencia en práctica a través del trabajo de consultoría y entrenamiento para Evaluación 
						| de Riesgos y Planeación Preventiva ante Desastres en diversos tipos de instituciones que mantienen animales, particularmente 
						| las instituciones zoológicas.

					p 
						| “El Dr. Lloyd también comparte su experiencia con el mundo académico, por lo que ha participado como profesor invitado 
						| en diversas universidades de Estados Unidos y, su entusiasmo por enseñar lo ha llevado a Alemania, Brasil, España, Inglaterra y México

					p 	
						| La psicoterapia favorita del Dr. Lloyd es realizar viajes en canoa para explorar y acampar, lo cual lo ha llevado 
						| a diversas regiones remotas incluyendo Ontario, Canadá y la península de Kenal en Alaska.


  
			//- comienza pagina 2
   
 
			.row.hide-for-landscape

				.small-12.columns


					<hr>

					center
						img(src="static/video/drw.png", alt="Dr.", width="80%")

					br 

					p
						| “El Dr. Lloyd fue presidente de la Asociación Americana de Veterinarios de 
						| Anfibios y Reptiles (ARAV) y ha sido un autor prolífico de diferentes artículos 
						| y capítulos de libros relacionados con medicina de fauna silvestre.
						| “La experiencia y entrenamiento profesional del Dr. Lloyd incluye Animales en 
						| Situaciones de Emergencia y Desastre, habiendo sido Comandante del Equipo de Asistencia 
						| Veterinaria (VMAT-1) dentro del Departamento de Seguridad Nacional para el World Trade Center, 
						| Huracán Katrina en Nueva Orleans, Incendios en California, Brotes de Influenza Aviar y muchas 
						| situaciones más. Esta certificado para dar entrenamiento para Rescate Animal en Aguas Rápidas, 
						| Rescate de Grandes Especies, Rescate de Animales con Helicóptero, Atención Médica a Perros de Rescate, entre otros”

					p 	
						| El Dr. Lloyd fue presidente de la Asociación Americana de Veterinarios de Anfibios y Reptiles 
						| (ARAV) y ha sido un autor prolífico de diferentes artículos y capítulos de libros relacionados 
						| con medicina de fauna silvestre.

					p
						| La experiencia y entrenamiento profesional del Dr. Lloyd incluye Animales en Situaciones de Emergencia y Desastre, 
						| habiendo sido Comandante del Equipo de Asistencia Veterinaria (VMAT-1) dentro del Departamento de Seguridad Nacional 
						| para el World Trade Center, Huracán Katrina en Nueva Orleans, Incendios en California, Brotes de Influenza Aviar y 
						| muchas situaciones más. Esta certificado para dar entrenamiento para Rescate Animal en Aguas Rápidas, 
						| Rescate de Grandes Especies, Rescate de Animales con Helicóptero, Atención Médica a Perros de Rescate, entre otros”

					p
						| Actualmente pone toda su experiencia en práctica a través del trabajo de consultoría y entrenamiento para Evaluación 
						| de Riesgos y Planeación Preventiva ante Desastres en diversos tipos de instituciones que mantienen animales, particularmente 
						| las instituciones zoológicas.

					p 
						| “El Dr. Lloyd también comparte su experiencia con el mundo académico, por lo que ha participado como profesor invitado 
						| en diversas universidades de Estados Unidos y, su entusiasmo por enseñar lo ha llevado a Alemania, Brasil, España, Inglaterra y México

					p 	
						| La psicoterapia favorita del Dr. Lloyd es realizar viajes en canoa para explorar y acampar, lo cual lo ha llevado 
						| a diversas regiones remotas incluyendo Ontario, Canadá y la península de Kenal en Alaska.

					

				.small-12.columns

					<hr>

					strong Introducción

					p
						| La declaración de un Estado de Emergencia debido a un Desastre la realiza el gobierno local, estatal o federal. 
						| Cuando estos involucran a cualquier institución que mantiene fauna silvestre, la participación y consideración de 
						| los veterinarios es esencial. Los tipos de desastres que pueden ocurrir son muy variados, van desde los eventos naturales 
						| como incendios huracanes y sismos; pero también pueden ocurrir otras situaciones relacionadas con actividades humanas como
						| derrames de sustancias tóxicas, brotes de enfermedades exóticas o amenazas terroristas (Figura 1). 
						| Cada una de estas situaciones de desastre requiere de distintos tipos de respuestas para poder recuperarse de manera efectiva; 
						| pero en todas ellas es esencial que los médicos veterinarios desarrollen un plan de respuesta y, en consecuencia, 
						| planeen las acciones necesarias para poder llevarlas a cabo en caso de que se presente algún desastre.
					
					center
						img(src="static/video/foto1.png", alt="Dr.", width="80%")


					p
						| Los planes de respuesta ante desastres tienen que ser desarrollados de manera individual por cada institución que mantiene fauna silvestre. 
						| Aunque existen protocolos generales, es indispensable que el primer paso sea la realización del Análisis de Riesgo para cada institución. 
						| En estos casos es importante considerar también las amenazas o eventos agravados que pueden ocurrir, ya que las  situaciones de Emergencia por 
						| Desastres conllevan otros eventos y amenazas de manera conjunta. Por ejemplo, los huracanes pueden provocar la aparición de múltiples tornados. 
						| La actividad sísmica en áreas donde existen plantas nucleares producen una situación de riesgo doble. 
						| Las inundaciones no solo son destructivas por la presencia y fuerza del agua, sino que también pueden llevar aguas negras, fertilizantes, etc., 
						| lo que perpetúa y expande el área de impacto. El personal de nuestra institución, y sus familias se ven afectados por los efectos del desastre, 
						| de la misma manera que el resto de los residentes de la zona. Las instrucciones de evacuación obligatoria incluyen al personal de las instituciones 
						| zoológicas y a sus familias. 

					p
						| Cuando ocurren los peores escenarios, los eventos iniciales crean una secuela más seria y esto debe de ser anticipado en las evaluaciones de riesgo. 
						| El huracán Katrina destruyo múltiples vidas y propiedades, pero la falla subsecuente de los diques provoco una crisis por las inundaciones. 
						| En 1888, el “Gran Huracán Blanco”, una de las peores ventiscas de nieve en la ciudad de Nueva York, se inició por la erupción del Krakatoa en Indonesia. 
						| Los detritos causados alteraron los patrones de clima globales.  Los sistemas de transporte se detuvieron, más de 400 personas murieron y la acumulación 
						| de nieve alcanzó los 50 pies de alto; siendo este el motivo para la construcción elevada del sistema de Metro en Nueva York.


					

			
			.row.hide-for-portrait
				.small-6.columns

					<hr>

					strong Introducción

					p
						| La declaración de un Estado de Emergencia debido a un Desastre la realiza el gobierno local, estatal o federal. 
						| Cuando estos involucran a cualquier institución que mantiene fauna silvestre, la participación y consideración de 
						| los veterinarios es esencial. Los tipos de desastres que pueden ocurrir son muy variados, van desde los eventos naturales 
						| como incendios huracanes y sismos; pero también pueden ocurrir otras situaciones relacionadas con actividades humanas como
						| derrames de sustancias tóxicas, brotes de enfermedades exóticas o amenazas terroristas (Figura 1). 
						| Cada una de estas situaciones de desastre requiere de distintos tipos de respuestas para poder recuperarse de manera efectiva; 
						| pero en todas ellas es esencial que los médicos veterinarios desarrollen un plan de respuesta y, en consecuencia, 
						| planeen las acciones necesarias para poder llevarlas a cabo en caso de que se presente algún desastre.
					
					center
						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto1.png", alt="", width="80%")
						<h6>Figura 1. Dentro de las contingencias posibles se deben de incluir las posibles amenazas terroristas. World Trade Center 2001, NY, NY. Photo: Barry Kellogg, DVM</h6>
						</div>
						</li>
						</ul>


				.small-6.columns

					<hr>

					p
						| Los planes de respuesta ante desastres tienen que ser desarrollados de manera individual por cada institución que mantiene fauna silvestre. 
						| Aunque existen protocolos generales, es indispensable que el primer paso sea la realización del Análisis de Riesgo para cada institución. 
						| En estos casos es importante considerar también las amenazas o eventos agravados que pueden ocurrir, ya que las  situaciones de Emergencia por 
						| Desastres conllevan otros eventos y amenazas de manera conjunta. Por ejemplo, los huracanes pueden provocar la aparición de múltiples tornados. 
						| La actividad sísmica en áreas donde existen plantas nucleares producen una situación de riesgo doble. 
						| Las inundaciones no solo son destructivas por la presencia y fuerza del agua, sino que también pueden llevar aguas negras, fertilizantes, etc., 
						| lo que perpetúa y expande el área de impacto. El personal de nuestra institución, y sus familias se ven afectados por los efectos del desastre, 
						| de la misma manera que el resto de los residentes de la zona. Las instrucciones de evacuación obligatoria incluyen al personal de las instituciones 
						| zoológicas y a sus familias. 


					p
						| Cuando ocurren los peores escenarios, los eventos iniciales crean una secuela más seria y esto debe de ser anticipado en las evaluaciones de riesgo. 
						| El huracán Katrina destruyo múltiples vidas y propiedades, pero la falla subsecuente de los diques provoco una crisis por las inundaciones. 
						| En 1888, el “Gran Huracán Blanco”, una de las peores ventiscas de nieve en la ciudad de Nueva York, se inició por la erupción del Krakatoa en Indonesia. 
						| Los detritos causados alteraron los patrones de clima globales.  Los sistemas de transporte se detuvieron, más de 400 personas murieron y la acumulación 
						| de nieve alcanzó los 50 pies de alto; siendo este el motivo para la construcción elevada del sistema de Metro en Nueva York.

  
			//- comienza pagina 4
  

			.row.hide-for-landscape

				.small-12.columns

					<hr>

					strong Planeación

					p 
						| Para desarrollar un Plan Institucional de Respuesta a Desastres es necesario llevar a cabo las siguientes etapas. (Figura 2) 
						| Es importante considerar que este es un proceso cronológico, en el cual es indispensable iniciar con la evaluación de riesgos, 
						| ya que esta etapa nos permite identificar nuestras necesidades y a partir de las mismas desarrollar un plan a medida de nuestra institución, 
						| entrenarnos en los puntos específicos que requerimos y entonces poder estar preparados para implementar un plan de respuesta. 
						| En muchas ocasiones se piensa que es posible iniciar el proceso a partir de la elaboración del plan; pero en ese caso es muy probable 
						| que no responda a las necesidades particulares de nuestra institución.

					center
						
						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto2.png", alt="")
						<h6>“Figura 2. Etapas del desarrollo de un Plan Institucional de Respuesta a Desastres, el cual siempre debe de comenzar con la Evaluación de Riesgos particulares de cada Institución.</h6>
						</div>
						</li>
						</ul>

				.small-12.columns

					strong Evaluación de riesgos institucional

					p 
						| Es importante verificar con la autoridad local toda la información que se haya generado con respecto al Análisis de Riesgo para diferentes zonas geográficas. 
						| En Estados Unidos, por ejemplo, muchas agencias gubernamentales han participado en el proceso y se cuenta con los Servicios Locales de Respuesta ante Emergencias 
						| (EMS por sus siglas en inglés, Local Emergency Response Service) y las Oficinas Estatales para el Manejo de Emergencias (EMA por sus siglas en inglés, 
						| State Emergency Management Agencies).  Estas oficinas han generado evaluaciones de riesgo con base en la ubicación geográfica, y a partir de ellas pueden 
						| identificarse las amenazas para una institución en particular relacionadas con su ubicación geográfica. (Figura 3)”
					p 
						| Muchos años de datos históricos pueden ayudar a hacer una evaluación de riesgos más precisa. Los factores hidrológicos generalmente están bien documentados 
						| por parte de las compañías aseguradoras o los ingenieros locales. Sin embargo, muchos lugares que no han tenido una inundación en varias décadas se han 
						| olvidado del riesgo potencial y muchos administradores han dejado de considerarlo como una amenaza potencial.

					center
						
						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto3.png", alt="")
						<h6>Figura ·3. La planificación es la mejor herramienta para enfrentar una contingencia. Izquierda a Derecha: Rich Crook, Best Friends Animal Society; Mark Lloyd, DVM; Kelly Omeara, Humane Society International.</h6>
						</div>
						</li>
						</ul>


					

			.row.hide-for-portrait

				.small-6.columns

					<hr>

					strong Planeación

					p 
						| Para desarrollar un Plan Institucional de Respuesta a Desastres es necesario llevar a cabo las siguientes etapas. (Figura 2) 
						| Es importante considerar que este es un proceso cronológico, en el cual es indispensable iniciar con la evaluación de riesgos, 
						| ya que esta etapa nos permite identificar nuestras necesidades y a partir de las mismas desarrollar un plan a medida de nuestra institución, 
						| entrenarnos en los puntos específicos que requerimos y entonces poder estar preparados para implementar un plan de respuesta. 
						| En muchas ocasiones se piensa que es posible iniciar el proceso a partir de la elaboración del plan; pero en ese caso es muy probable 
						| que no responda a las necesidades particulares de nuestra institución.

					center
						
						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto2.png", alt="")
						<h6>Figura ·3. La planificación es la mejor herramienta para enfrentar una contingencia. Izquierda a Derecha: Rich Crook, Best Friends Animal Society; Mark Lloyd, DVM; Kelly Omeara, Humane Society International.</h6>
						</div>
						</li>
						</ul>


					
					


				.small-6.columns

					<hr>
					strong Evaluación de riesgos institucional

					p 
						| Es importante verificar con la autoridad local toda la información que se haya generado con respecto al Análisis de Riesgo para diferentes zonas geográficas. 
						| En Estados Unidos, por ejemplo, muchas agencias gubernamentales han participado en el proceso y se cuenta con los Servicios Locales de Respuesta ante Emergencias 
						| (EMS por sus siglas en inglés, Local Emergency Response Service) y las Oficinas Estatales para el Manejo de Emergencias (EMA por sus siglas en inglés, 
						| State Emergency Management Agencies).  Estas oficinas han generado evaluaciones de riesgo con base en la ubicación geográfica, y a partir de ellas pueden 
						| identificarse las amenazas para una institución en particular relacionadas con su ubicación geográfica. (Figura 3)”

					p 
						| Muchos años de datos históricos pueden ayudar a hacer una evaluación de riesgos más precisa. Los factores hidrológicos generalmente están bien documentados 
						| por parte de las compañías aseguradoras o los ingenieros locales. Sin embargo, muchos lugares que no han tenido una inundación en varias décadas se han 
						| olvidado del riesgo potencial y muchos administradores han dejado de considerarlo como una amenaza potencial.


					center
						
						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto3.png", alt="")
						<h6>Figura ·3. La planificación es la mejor herramienta para enfrentar una contingencia. Izquierda a Derecha: Rich Crook, Best Friends Animal Society; Mark Lloyd, DVM; Kelly Omeara, Humane Society International.</h6>
						</div>
						</li>
						</ul>

					
			//- comienza pagina 5
   

			.row.hide-for-landscape

				.small-12.columns

					<hr>

					p
						| Los accidentes nucleares son raros, sin embargo, ocurren. La ubicación de plantas termonucleares generalmente se encuentra disponible en internet; 
						| al igual que la de refinerías y otras industrias que pueden ser un riesgo por contacto o dispersión con sustancias tóxicas. Es necesario considerar 
						| la proximidad, el flujo hidrológico y la dirección de diversos eventos climáticos que pueden facilitar la dispersión del contaminante. Las tormentas 
						| tropicales o las invernales pueden causar daños y aislar a regiones enteras. Conforme ocurren los cambios climáticos y las 
						| “tormentas se presentan fuera de las proyecciones de los meteorólogos, es necesario contar con mejores planes de preparación ante nieve, 
						| hielo y temperaturas ultra bajas; o huracanes e inundaciones atípicas.
					p 
						| Para los análisis de riesgo de incendios forestales es posible consultar los datos históricos y el patrón de los últimos años. En muchos 
						| lugares las autoridades forestales y las compañías aseguradoras cuentan con este tipo de información. Una explosión masiva y un 
						| incendio en el área urbana de Kansas City (MO, EEUU) fue causada por una fuga de gas natural en Febrero de 2013, poniendo a miles de personas
						| e instituciones en riesgo”

					p 
						| El transporte por carretera o tren de materiales peligrosos crea un riesgo particular para las instituciones que mantienen fauna silvestre en cautiverio; 
						| ya que muchas veces esa información no es fácil de obtener al momento de hacer los análisis de riesgo y desarrollar un plan de respuesta. Pero, 
						| la simple ubicación cercana a este tipo de vías de comunicación deberá ser motivo suficiente para considerarlo como una amenaza potencial.


				.small-12.columns

					<hr>

					p 
						| En general, deben de tomarse en cuenta los siguientes aspectos:
					p 
						| a) Cuales son los riesgos asociados a la ubicación geográfica (por ejemplo, desastres naturales, instalaciones o líneas de transporte de 
						| diversos productos peligrosos). 

					p  
						| b) Cuales son los riesgos y puntos vulnerables en las instalaciones (integridad de la construcción, controles ambientales, etc.)

					p
						| c) Cuales son las “desventajas o puntos débiles”  para el público, especificas del tipo de animales que tiene la colección  
						| (por ejemplo, animales peligrosos, vectores de zoonosis y reservorios de enfermedades).
					p 
						| d) Cuales son los puntos vulnerables del personal y los animales que deben mantenerse en su albergue (por ejemplo, agua potable, 
						| recursos de emergencia, etc.).
					p 
						| e) Además de los animales cautivos, cuales son los riesgos de salud para los humanos (por ejemplo, seguridad institucional, 
						| materiales peligrosos en las instalaciones, opciones de escapes). (Figura 4)
					p 
						| f) Cuales son los riesgos de enfermedades específicos para los tipos de animales con que cuenta la colección.

			
			.row.hide-for-portrait

				.small-6.columns

					<hr>

					p
						| Los accidentes nucleares son raros, sin embargo, ocurren. La ubicación de plantas termonucleares generalmente se encuentra disponible en internet; 
						| al igual que la de refinerías y otras industrias que pueden ser un riesgo por contacto o dispersión con sustancias tóxicas. Es necesario considerar 
						| la proximidad, el flujo hidrológico y la dirección de diversos eventos climáticos que pueden facilitar la dispersión del contaminante. Las tormentas 
						| tropicales o las invernales pueden causar daños y aislar a regiones enteras. Conforme ocurren los cambios climáticos y las 
						| “tormentas se presentan fuera de las proyecciones de los meteorólogos, es necesario contar con mejores planes de preparación ante nieve, 
						| hielo y temperaturas ultra bajas; o huracanes e inundaciones atípicas.
					p 
						| Para los análisis de riesgo de incendios forestales es posible consultar los datos históricos y el patrón de los últimos años. En muchos 
						| lugares las autoridades forestales y las compañías aseguradoras cuentan con este tipo de información. Una explosión masiva y un 
						| incendio en el área urbana de Kansas City (MO, EEUU) fue causada por una fuga de gas natural en Febrero de 2013, poniendo a miles de personas
						| e instituciones en riesgo”

					p 
						| El transporte por carretera o tren de materiales peligrosos crea un riesgo particular para las instituciones que mantienen fauna silvestre en cautiverio; 
						| ya que muchas veces esa información no es fácil de obtener al momento de hacer los análisis de riesgo y desarrollar un plan de respuesta. Pero, 
						| la simple ubicación cercana a este tipo de vías de comunicación deberá ser motivo suficiente para considerarlo como una amenaza potencial.



				.small-6.columns

					<hr>

					p 
						| En general, deben de tomarse en cuenta los siguientes aspectos:
					p 
						| a) Cuales son los riesgos asociados a la ubicación geográfica (por ejemplo, desastres naturales, instalaciones o líneas de transporte de 
						| diversos productos peligrosos). 

					p  
						| b) Cuales son los riesgos y puntos vulnerables en las instalaciones (integridad de la construcción, controles ambientales, etc.)

					p
						| c) Cuales son las “desventajas o puntos débiles”  para el público, especificas del tipo de animales que tiene la colección  
						| (por ejemplo, animales peligrosos, vectores de zoonosis y reservorios de enfermedades).
					p 
						| d) Cuales son los puntos vulnerables del personal y los animales que deben mantenerse en su albergue (por ejemplo, agua potable, 
						| recursos de emergencia, etc.).
					p 
						| e) Además de los animales cautivos, cuales son los riesgos de salud para los humanos (por ejemplo, seguridad institucional, 
						| materiales peligrosos en las instalaciones, opciones de escapes). (Figura 4)
					p 
						| f) Cuales son los riesgos de enfermedades específicos para los tipos de animales con que cuenta la colección.

			//- comienza pagina 6
  

			.row.hide-for-landscape

				.small-12.columns

					<hr>

					strong Predicción del Efecto de Pluma:

					p 
						| El efecto de pluma es la forma en la que algo progresa o se desplaza a partir de un punto de origen, de manera que se expande y se aleja 
						| hacia un área logarítmicamente mas amplia, conforme se incrementa la distancia  a partir del punto de origen. Algunos ejemplos comunes son 
						| el desplazamiento del humo en el aire en caso de un incendio, la distribución del agua contaminada sobre un delta, o posiblemente la expansión
						| de un patógeno de una enfermedad a partir del reservorio de la infección. Los efectos de pluma pueden ser unidireccionales, como ocurre en el caso
						| del viento predominante o el flujo del agua, o desplazarse en varias direcciones, como ocurre a partir de la erupción de un volcán.

						| Algunos de los desastres naturales permiten prepararse para ellos, debido a que pueden predecirse con cierta antelación, aunque también pueden aparecer de improviso. 
						| El efecto de pluma puede afectar áreas amplias, pero en algunas ocasiones la dirección del mismo puede ser predicho por meteorólogos locales. 
						| El efecto de pluma puede estar presente en el caso de radiación nuclear, derrame o liberación de químicos, humo y contaminantes líquidos, 
						| como en el caso del petróleo. Y puede dispersarse[…]

					center 

						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto4.png", alt="")
						<h6>“Figura 4. Dentro de la evaluación de riesgos debe de considerarse la presencia, de forma natural en la zona o dentro de las colecciones, de animales peligrosos y estar preparados para su manejo”</h6>
						</div>
						</li>
						<li data-orbit-slide="headline-2">
						<div>
						img(src="static/video/foto5.png", alt="")
						<h6>“Figura 4. Dentro de la evaluación de riesgos debe de considerarse la presencia, de forma natural en la zona o dentro de las colecciones, de animales peligrosos y estar preparados para su manejo</h6>
						</div>
						</li>
						</ul>




				.small-12.columns

					<hr>

					p 
						| Los brotes de enfermedades pueden presentar patrones de expansión similares, ya sea con base en la dispersión del vector, 
						| los rangos de distribución de los reservorios, o condiciones ambientales. 

					strong  Enfermedades infecciosas y zoonóticas

					p 
						| La participación de los veterinarios con respecto a las enfermedades infecciosas es muy importante. La epidemiología y el 
						| riesgo de enfermedades infecciosas y zoonóticas, así como su relación con la fauna silvestre puede ser complicada en el 
						| caso de la presentación de un brote. (Figura 5)

					p 
						| El análisis de riesgo de las enfermedades infecciosas debe de considerar el tipo de especies que conforman la colección, 
						| la susceptibilidad y la presencia de reservorios, la forma de transmisión y la presencia de vectores, el diseño de los albergues, 
						| los agentes químicos controlados y la estabilidad del inventario de medicamentos. 
						| Por ejemplo, las aguas estancadas después de una inundación pueden convertirse en un lugar propicio para la reproducción y explosión 
						| masiva de algunas poblaciones de vectores. La presencia de estos vectores puede ser la fuerza detonante de un desastre secundario. 
						| (Figura 6)

					p 
						| Los brotes de enfermedades infecciosas en animales de producción pueden ser uno de los desastres más devastadores desde el punto de vista económico. 
						| En muchas ocasiones el control y extinción de estos brotes requiere de acciones gubernamentales y sanitarias drásticas. La matanza masiva es una 
						| medida común, sin consideración para el estatus de riesgo de conservación de las especies de fauna silvestre; por lo que la participación de los 
						| veterinarios especialistas en estas especies es primordial. En algunas situaciones las instituciones zoológicas requieren montar un plan de aislamiento 
						| cuarentenario reverso, para asegurar la salud y aislamiento de sus poblaciones en riesgo. De igual manera, también pueden participar en la asesoría 



			
			.row.hide-for-portrait

				.small-6.columns

					<hr>

					strong Predicción del Efecto de Pluma:

					p 
						| El efecto de pluma es la forma en la que algo progresa o se desplaza a partir de un punto de origen, de manera que se expande y se aleja 
						| hacia un área logarítmicamente mas amplia, conforme se incrementa la distancia  a partir del punto de origen. Algunos ejemplos comunes son 
						| el desplazamiento del humo en el aire en caso de un incendio, la distribución del agua contaminada sobre un delta, o posiblemente la expansión
						| de un patógeno de una enfermedad a partir del reservorio de la infección. Los efectos de pluma pueden ser unidireccionales, como ocurre en el caso
						| del viento predominante o el flujo del agua, o desplazarse en varias direcciones, como ocurre a partir de la erupción de un volcán.

						| Algunos de los desastres naturales permiten prepararse para ellos, debido a que pueden predecirse con cierta antelación, aunque también pueden aparecer de improviso. 
						| El efecto de pluma puede afectar áreas amplias, pero en algunas ocasiones la dirección del mismo puede ser predicho por meteorólogos locales. 
						| El efecto de pluma puede estar presente en el caso de radiación nuclear, derrame o liberación de químicos, humo y contaminantes líquidos, 
						| como en el caso del petróleo. Y puede dispersarse[…]

					center 

						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto4.png", alt="")
						<h6>“Figura 4. Dentro de la evaluación de riesgos debe de considerarse la presencia, de forma natural en la zona o dentro de las colecciones, de animales peligrosos y estar preparados para su manejo”</h6>
						</div>
						</li>
						<li data-orbit-slide="headline-2">
						<div>
						img(src="static/video/foto5.png", alt="")
						<h6>“Figura 4. Dentro de la evaluación de riesgos debe de considerarse la presencia, de forma natural en la zona o dentro de las colecciones, de animales peligrosos y estar preparados para su manejo</h6>
						</div>
						</li>
						</ul>





				.small-6.columns

					<hr>

					p 
						| Los brotes de enfermedades pueden presentar patrones de expansión similares, ya sea con base en la dispersión del vector, 
						| los rangos de distribución de los reservorios, o condiciones ambientales. 

					strong  Enfermedades infecciosas y zoonóticas

					p 
						| La participación de los veterinarios con respecto a las enfermedades infecciosas es muy importante. La epidemiología y el 
						| riesgo de enfermedades infecciosas y zoonóticas, así como su relación con la fauna silvestre puede ser complicada en el 
						| caso de la presentación de un brote. (Figura 5)

					p 
						| El análisis de riesgo de las enfermedades infecciosas debe de considerar el tipo de especies que conforman la colección, 
						| la susceptibilidad y la presencia de reservorios, la forma de transmisión y la presencia de vectores, el diseño de los albergues, 
						| los agentes químicos controlados y la estabilidad del inventario de medicamentos. 
						| Por ejemplo, las aguas estancadas después de una inundación pueden convertirse en un lugar propicio para la reproducción y explosión 
						| masiva de algunas poblaciones de vectores. La presencia de estos vectores puede ser la fuerza detonante de un desastre secundario. 
						| (Figura 6)

					p 
						| Los brotes de enfermedades infecciosas en animales de producción pueden ser uno de los desastres más devastadores desde el punto de vista económico. 
						| En muchas ocasiones el control y extinción de estos brotes requiere de acciones gubernamentales y sanitarias drásticas. La matanza masiva es una 
						| medida común, sin consideración para el estatus de riesgo de conservación de las especies de fauna silvestre; por lo que la participación de los 
						| veterinarios especialistas en estas especies es primordial. En algunas situaciones las instituciones zoológicas requieren montar un plan de aislamiento 
						| cuarentenario reverso, para asegurar la salud y aislamiento de sus poblaciones en riesgo. De igual manera, también pueden participar en la asesoría 

			//- comienza pagina 7


			.row.hide-for-landscape

				.small-12.columns

					<hr>

					center 

						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto5.png", alt="")
						<h6>Figura 5. El equipo médico veterinario debe de estar preparado para la atención de riesgos infecciosos asociados a las contingencias. Epizootia Influenza Aviar, 2002, EEUU.</h6>
						</div>
						</li>
						<li data-orbit-slide="headline-2">
						<div>
						img(src="static/video/foto7.png", alt="")
						<h6> Figura 6. Inundación en Villahermosa, Tabasco. El riesgo de incremento de vectores es alto cuando se asocia a la presencia de aguas estancadas.</h6>
						</div>
						</li>
						</ul>

					p
						| Para la identificación de vulnerabilidad relativa en la fauna silvestre endémica con respecto a cierta enfermedad en particular. 
						| Las enfermedades infecciosas también pueden ser secundarias a un desastre no infeccioso. En muchas zonas de inundación ocurre contaminación 
						| por aguas negras, lo que implica una sobrecarga de coliformes que muchas veces va seguida de un brote por enfermedades gastrointestinales. 
						| Aún en aguas no contaminadas, la exposición continua a sustratos mojados después de una inundación aumentan la vulnerabilidad a enfermedades 
						| dermatológicas como pododermatitis necrótica o micosis. (Figura 7)

				.small-12.columns

					<HR>

					strong Contaminación ambiental

					P 
						| Los riesgos relacionados con la contaminación ambiental requieren de buscar información local y regional sobre lugares de almacenamiento y 
						| rutas de transporte para diferentes contaminantes, junto con la dirección y flujo del agua y aire.  Las autoridades de respuesta en contingencias 
						| y emergencias ambientales, al igual que los bomberos, pueden proporcionar información sobre los riesgos y el almacenamiento o transporte de 
						| materiales peligrosos. Generalmente al pensar en contaminación ambiental se piensa en derrames de petróleo; pero es importante considerar 
						| también a muchos productos industriales que pueden ser contaminantes potenciales, al humo

					br 

					center
						
						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto8.png", alt="")
						<h6>Figura 7. El riesgo sanitario también está asociado a una falla en la disposición de cadáveres de los animales que murieron durante la contingencia. Víctima de incendio forestal, California EEUU..</h6>
						</div>
						</li>
						</ul>


			.row.hide-for-portrait

				.small-6.columns

					<hr>

					center 

						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto6.png", alt="")
						<h6>Figura 5. El equipo médico veterinario debe de estar preparado para la atención de riesgos infecciosos asociados a las contingencias. Epizootia Influenza Aviar, 2002, EEUU.</h6>
						</div>
						</li>
						<li data-orbit-slide="headline-2">
						<div>
						img(src="static/video/foto7.png", alt="")
						<h6> Figura 6. Inundación en Villahermosa, Tabasco. El riesgo de incremento de vectores es alto cuando se asocia a la presencia de aguas estancadas.</h6>
						</div>
						</li>
						</ul>

					p
						| Para la identificación de vulnerabilidad relativa en la fauna silvestre endémica con respecto a cierta enfermedad en particular. 
						| Las enfermedades infecciosas también pueden ser secundarias a un desastre no infeccioso. En muchas zonas de inundación ocurre contaminación 
						| por aguas negras, lo que implica una sobrecarga de coliformes que muchas veces va seguida de un brote por enfermedades gastrointestinales. 
						| Aún en aguas no contaminadas, la exposición continua a sustratos mojados después de una inundación aumentan la vulnerabilidad a enfermedades 
						| dermatológicas como pododermatitis necrótica o micosis. (Figura 7)

				.small-6.columns

					<HR>

					strong Contaminación ambiental

					P 
						| Los riesgos relacionados con la contaminación ambiental requieren de buscar información local y regional sobre lugares de almacenamiento y 
						| rutas de transporte para diferentes contaminantes, junto con la dirección y flujo del agua y aire.  Las autoridades de respuesta en contingencias 
						| y emergencias ambientales, al igual que los bomberos, pueden proporcionar información sobre los riesgos y el almacenamiento o transporte de 
						| materiales peligrosos. Generalmente al pensar en contaminación ambiental se piensa en derrames de petróleo; pero es importante considerar 
						| también a muchos productos industriales que pueden ser contaminantes potenciales, al humo

					br 

					center
						
						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto8.png", alt="")
						<h6>Figura 7. El riesgo sanitario también está asociado a una falla en la disposición de cadáveres de los animales que murieron durante la contingencia. Víctima de incendio forestal, California EEUU..</h6>
						</div>
						</li>
						</ul>

			//-comienza pagina 8
			
			.row.hide-for-landscape

				.small-12.columns

					<hr>
					strong
					p
						|a partir de incendios forestales o a los gases producidos en una erupción.
						|Las aves silvestres cautivas son más sensibles que los mamíferos a los gases tóxicos y los aviarios que mantienen especies en peligro de extinción
						| pueden necesitar de un plan de evacuación o aislamientos en caso de que ocurra alguno de estos desastres.
						|Las inundaciones con agua marina pueden tener efectos letales para muchas especies de peces de agua dulce y viceversa con la 
						|inundación de agua dulce en un ambiente marino. Las evaluaciones de riesgo y los planes de contingencia 
						|deben de incluir estos escenarios cuando la proximidad a la costa pueda afectar a las colecciones zoológicas.

					strong Intrusión y escape de animales 
					p
						|Conforme una institución zoológica se mantenga en mejores condiciones en una situación de emergencia o desastre, 
						|será un refugio más atractivo para la fauna silvestre local o los animales domésticos ferales  que se vean desplazados por el evento ocurrido.
						|En estos casos, al momento de realizar el plan de respuesta el zoológico deberá de anticipar estas situaciones
						|y considerar que las especies locales podrían requerir equipo, fármacos de captura y espacios adicionales. (Figura 8)

					strong Generación de lista de necesidades
					p
						|Una vez que se ha realizado el análisis de riesgo específico para nuestra institución, el segundo paso es la generación de la lista de necesidades
						|que nos permitirán responder en caso de un desastre o emergencia. Cuando un evento puede predecirse, es posible realizar preparaciones previas. 
						|El acceso y disponibilidad de agua y energía son uno de los primeros puntos a considerar, ya que generalmente son sistemas vulnerables y se ven comprometidos.
						|Muchas veces las instituciones utilizan agua potable para todos los usos dentro de sus instalaciones, pero el agua sin calidad para el consumo para


				.small-12.columns

					<hr>
					br 

					center
						
						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto9.png", alt="")
						<h6>Figura 8. </h6>
						</div>
						</li>
						</ul>



			.row.hide-for-portrait

				.small-6.columns

					<hr>
					strong
					p
						|a partir de incendios forestales o a los gases producidos en una erupción.
						|Las aves silvestres cautivas son más sensibles que los mamíferos a los gases tóxicos y los aviarios que mantienen especies en peligro de extinción
						| pueden necesitar de un plan de evacuación o aislamientos en caso de que ocurra alguno de estos desastres.
						|Las inundaciones con agua marina pueden tener efectos letales para muchas especies de peces de agua dulce y viceversa con la 
						|inundación de agua dulce en un ambiente marino. Las evaluaciones de riesgo y los planes de contingencia 
						|deben de incluir estos escenarios cuando la proximidad a la costa pueda afectar a las colecciones zoológicas.

					strong Intrusión y escape de animales 
					p
						|Conforme una institución zoológica se mantenga en mejores condiciones en una situación de emergencia o desastre, 
						|será un refugio más atractivo para la fauna silvestre local o los animales domésticos ferales  que se vean desplazados por el evento ocurrido.
						|En estos casos, al momento de realizar el plan de respuesta el zoológico deberá de anticipar estas situaciones
						|y considerar que las especies locales podrían requerir equipo, fármacos de captura y espacios adicionales. (Figura 8)

					strong Generación de lista de necesidades
					p
						|Una vez que se ha realizado el análisis de riesgo específico para nuestra institución, el segundo paso es la generación de la lista de necesidades
						|que nos permitirán responder en caso de un desastre o emergencia. Cuando un evento puede predecirse, es posible realizar preparaciones previas. 
						|El acceso y disponibilidad de agua y energía son uno de los primeros puntos a considerar, ya que generalmente son sistemas vulnerables y se ven comprometidos.
						|Muchas veces las instituciones utilizan agua potable para todos los usos dentro de sus instalaciones, pero el agua sin calidad para el consumo para

				.small-6.columns

					<hr>

					center 

						<ul class="example-orbit-content" data-orbit>
						<li data-orbit-slide="headline-1">
						<div>
						img(src="static/video/foto9.png", alt="")
						<h6>Figura 8. </h6>
						</div>
						</li>
						</li>
						</ul>

 
					

					

			