@import 'styles/media'

.font-header
	font-weight:bold
	text-shadow: 1px 1px 2px black

	&.font-header-0
		font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif
	&.font-header-1
		font-family: Impact, Charcoal, sans-serif
	&.font-header-2
		font-family: Tahoma, Geneva, sans-serif
	&.font-header-3
		font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
	&.font-header-4
		font-family: 'Arial Black', Gadget, sans-serif
	&.font-header-5
		font-family: 'Times New Roman', Times, serif

	& *
		font-weight:inherit
		font-family:inherit

html,body
	height:100%
	width:100%

.swiper-container
.swiper-slide
	width  : 100%
	height : 100%

.row-full
	max-width: 100% !important

.magazine-container
	position:relative
	width  : 100%
	height : 100%
	p
		text-align : justify 
	

	& > main
		height: inherit
		position:relative
		background              : transparent no-repeat top center
		-webkit-background-size : cover
		-moz-background-size    : cover
		-o-background-size      : cover
		background-size         : cover
		text-align 				: justify !important

	& footer
		position      : absolute
		bottom        : 0
		right         : 0
		margin-right  : 1em
		margin-bottom : 1em

		& *
			color: white
			margin:0
			padding:0

	&.magazine-cover

		header
			height     : 20%
			position   : relative
			background : white
			width      : inherit
			background: white no-repeat left center
			background-image: url('http://tryimg.com/5/lqqq.png')
			background-size: contain
			border: 1em solid white
		main
			height: 80%

		footer
			&
			& *
				font-weight:bold
				

ul {
  list-style: none;
}
ul li {
  padding: 0.2em
}

label.styled {
  background-color: #f8a901;
  display: block;
  width: 300px;
  text-align: center;
  padding: 0.6em 2em;
  color: #fff;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
label.styled1 {
  background-color: #f8a901;
  display: block;
  width: 300px;
  text-align: center;
  padding: 0.6em 2em;
  color: #fff;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
label.styled:before {
  content: 'x';
  line-height: 40px;
  font-size: 25px;
  color: #fff;
  width:40px;
  height:100%; 
  background-color: red;
  position: absolute;
  top:0;
  left:100%;
  transition: all 0.4s ease;
  opacity: 0;
  border-right: 2px solid #fff;
}
label.styled_static {
  background-color: red;
  border-right: 2px solid #fff;
  color: #fff;
  content: 'x';
  cursor: pointer;
  display: block;
  font-size: 25px;
  height:100%; 
  left:100%;
  line-height: 40px;
  opacity: 0;
  overflow: hidden;
  padding: 0.6em 2em;
  position: absolute;
  position: relative;
  text-align: center;
  top:0;
  transition: all 0.4s ease;
  width: 300px;
  width:40px;
}
label.styled1:before {
  content: '✓';
  line-height: 40px;
  font-size: 25px;
  color: #fff;
  width:40px;
  height:100%; 
  background-color: green;
  position: absolute;
  top:0;
  left:100%;
  transition: all 0.4s ease;
  opacity: 0;
  border-right: 2px solid #ffe;
}
label.styled1_static {
  content: '✓';
  line-height: 40px;
  font-size: 25px;
  color: #fff;
  width:40px;
  height:100%; 
  background-color: green;
  position: absolute;
  top:0;
  left:100%;
  transition: all 0.4s ease;
  opacity: 0;
  border-right: 2px solid #ffe;
}
label.styled:hover:before {
  left: 98%;
  opacity: .3;
}
label.styled1:hover:before {
  left: 98%;
  opacity: .3;
}
input.styled {
  display: none;
}
input.styled1 {
  display: none;
}

/* :: CHECKED :: */
input.styled:checked ~ label.styled {
  background-color: #ff9999;
  animation: throw 0.5s linear;
}
input.styled1:checked ~ label.styled1 {
  background-color: #66ff66;
  animation: throw 0.5s linear;
}
input.styled:checked ~ label.styled:before {
  left:0px;
  opacity: 1;
}
input.styled1:checked ~ label.styled1:before {
  left:0px;
  opacity: 1;
}
@keyframes throw {
   0%,63% {margin-left: 0;}
   64% {margin-left: -5px;}
   100% {margin-left: 0;}
}
 


a{
	display:inline-block;
	margin:5px;
	padding:0;
	clear:none;
	overflow:hidden;
	height:150px;
	width:150px;
	position:relative;
	overflow:hidden;
 
}
 
a .contImg
{
    height:150px;
    width:150px;
    position:relative;
    z-index:1;
    overflow:hidden;
 
}
a .contImg img
{
    max-height:100%;
    max-width:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto; /* todos estos estilos son para delimitar el tamaño de la imagen y centrarla */
 
}
a .descripcion{
	background: rgba(255, 255, 255, .5); /*color de fondo inicial */
	transition: background 1s;
	width:150px;
	height:150px;
	-moz-transition: background 1s; /* para animar el cambio de color de fondo */
	-webkit-transition: background 1s;
	-o-transition: background 1s;
 
}
a:hover .descripcion
{
    position:relative;
    z-index:2; /* lo coloca por encima de la imagen */
    background: rgba(0, 0, 0, .7); /* color de fondo final */
    top:-150px; /* sube el div para que se pueda ver */
    width:130px;
    height:130px;
    padding:10px;
}

.izq{
  font-size: .8em
}




 